<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head')%>
</head>

<body>
  <%- include('includes/header')%>
    <%- include('includes/side-drawer')%>
      <main>
        <h1>등록 완료</h1>
        <p>맛집 리스트에 성공적으로 추가 되었습니다.</p>
      </main>
</body>

</html>