<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head')%>
    <link rel="stylesheet" href="styles/index.css" />
</head>

<body>
  <%- include('includes/header')%>
  <%- include('includes/side-drawer')%>
  <main>
    <h1>Make the world a tastier place!</h1>
    <p>
      여러분의 맛집을 추천해주세요!
    </p>
    <ul id="actions">
      <li>
        <a href="/restaurants">맛집 리스트 보기</a>
      </li>
      <li>
        <a href="/recommend">맛집 추천하기</a>
      </li>
    </ul>
  </main>
</body>

</html>